{% extends 'base.html.twig' %}

{% block title %}Crear un juego{% endblock %}

{% block body %}
<section>
    <div class="c-tablaJM">
        {{ form_start(form) }}
        <table id="tablaId" class="table">
            <thead class="c-thead">
                <tr>
                    <th scope="col" id="c-tablaJM__th">Nombre</th>
                    <th scope="col" id="c-tablaJM__th">Descripcion</th>
                    <th scope="col" id="c-tablaJM__th">Jugadores Mínimos</th>
                    <th scope="col" id="c-tablaJM__th">Jugadores Máximos</th>    
                </tr>
            </thead>
            <tbody>
                <tr class="c-tabla__datos">
                    <td>{{form_widget(form.nombre,{'attr':{'class':'c-tablaJM__td'}})}}</td>
                    <td>{{form_widget(form.descripcion,{'attr':{'class':'c-tablaJM__td'}})}}</td>
                    <td>{{form_widget(form.min_jugadores,{'attr':{'class':'c-tablaJM__td'}})}}</td>
                    <td>{{form_widget(form.max_jugadores,{'attr':{'class':'c-tablaJM__td'}})}}</td>
                </tr>
            </tbody>
        </table>

        <table id="tablaId" class="table mt-4">
            <thead class="c-thead">
                <tr>
                    <th scope="col"  id="c-tablaJM__th">Alto</th>
                    <th scope="col"  id="c-tablaJM__th">Ancho</th>
                    <th scope="col"  id="c-tablaJM__th">Imagen</th>
                </tr>
            </thead>
            <tbody>
                <tr class="c-tabla__datos">
                    <td>{{form_widget(form.alto,{'attr':{'class':'c-tablaJM__td'}})}}</td>
                    <td>{{form_widget(form.ancho,{'attr':{'class':'c-tablaJM__td'}})}}</td>
                    <td>{{form_widget(form.imagen,{'attr':{'class':'c-tablaJM__td'}})}}</td>
                </tr>
            </tbody>
        </table>

        {{ form_widget(form.submit, { 'label': 'Crear Juego','attr':{'class':'btn btn-lg btn-primary mt-4'}}) }}
        {{ form_end(form) }}
    </div>
<section>

{% endblock %}