{% extends 'base.html.twig' %}

{% block title %}Detalles del juego{% endblock %}

{% block body %}

    <div class="c-cartaJuego veloz">
        <div class="c-cartaJuego__imagen">
            <img src="{{asset('img/' ~ juego.imagen)}}" class="c-cartaJuego__imagen-item ml-2">
        </div>
        <div class="c-cartaJuego__detalles">
            <table class="table">
                <tr>
                    <td>Nombre</td>
                    <td>{{juego.nombre}}</td>
                </tr>
                <tr>
                    <td>Tamaño</td>
                    <td>{{juego.alto}} x {{juego.ancho}}</td>
                </tr>
                <tr>
                    <td>Mínimo de jugadores</td>
                    <td>{{juego.MinJugadores}}</td>
                </tr>
                <tr>
                    <td>Máximo de jugadores</td>
                    <td>{{juego.MaxJugadores}}</td>
                </tr>
            </table>
        </div> 
    </div>


{% endblock %}