{% extends 'base.html.twig' %}

{% block title %}Editar un juego{% endblock %}

{% block body %}
{{ form_start(form) }}
<div class="c-tablaJM">
<table class="table">
    <thead>
        <tr>
            <th id="c-tablaJM__th">Nombre</th>
            <th id="c-tablaJM__th">Descripcion</th>
            <th id="c-tablaJM__th">Jugadores Mínimos</th>
            <th id="c-tablaJM__th">Jugadores Máximos</th>
            
        </tr>
    </thead>
    <tbody>
        <tr class="c-tabla__datos">
            <td>{{form_widget(form.nombre,{'attr':{'value':juego.nombre},'class':'c-tablaJM__td'})}}</td>
            <td>{{form_widget(form.descripcion,{'value':juego.descripcion,'attr':{'class':'c-tablaJM__td'}})}}</td>
            <td>{{form_widget(form.min_jugadores,{'attr':{'value':juego.MinJugadores,'class':'c-tablaJM__td'}})}}</td>
            <td>{{form_widget(form.max_jugadores,{'attr':{'value':juego.MaxJugadores,'class':'c-tablaJM__td'}})}}</td>
        </tr>
    </tbody>
</table>

<table class="mt-4">
    <thead>
        <tr>
            <th id="c-tablaJM__th">Alto</th>
            <th id="c-tablaJM__th">Ancho</th>
            <th id="c-tablaJM__th">Imagen</th>
            <th id="c-tablaJM__th-Img">Imagen actual</th>
        </tr>
    </thead>
    <tbody>
        <tr class="c-tabla__datos">
            <td>{{form_widget(form.alto,{'attr':{'value':juego.alto,'class':'c-tablaJM__td'}})}}</td>
            <td>{{form_widget(form.ancho,{'attr':{'value':juego.ancho,'class':'c-tablaJM__td'}})}}</td>
            <td>{{form_widget(form.imagen,{'attr':{'class':'c-tablaJM__td-imgInput'}})}}</td>
            <td><img src="{{asset('img/' ~ juego.imagen)}}" class="c-tablaJM__td-img"></td>
        </tr>
    </tbody>
</table>

{{ form_widget(form.submit, { 'label': 'Editar Juego','attr':{'class':'btn btn-lg btn-primary mt-4'}}) }}
</div>
{{ form_end(form) }}

{% endblock %}