{% extends 'base.html.twig' %}

{% block title %}Mantenimiento{% endblock %}

{% block body %}

<div class="c-tabla">
<table class="c-tabla-item">
    <thead class="c-thead">
        <tr>
            <th>Nombre</th>
            <th>Descripcion</th>
            <th>Jugadores Mínimos</th>
            <th>Jugadores Máximos</th>
            <th>Dimensiones</th>
            <th>Imagen</th>
            <th>⚙</th>
        </tr>
    </thead>
    <tbody>
    {% for juego in juegos %}
        <tr class="c-juegos-datos">
            <td class="tr-juegos">{{juego.nombre}}</td>
            <td class="tr-juegos">{{juego.acortaDescripcion}}</td>
            <td class="tr-juegos">{{juego.MinJugadores}}</td>
            <td class="tr-juegos">{{juego.MaxJugadores}}</td>
            <td class="tr-juegos">{{juego.Dimensiones}}</td>
            <td class="tr-juegos"><img src="{{asset('img/' ~ juego.imagen)}}" width="50px" height="50px"></td>
            <td class="tr-juegos"><a href="{{url('app_juego_editar',{'id':juego.id})}}">&#9998</a><a href="{{url('app_juego_eliminar',{'id':juego.id})}}">&#10006</a></td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<a href="{{url('app_juego_crear')}}" class="btn btn-primary mt-4">Crear un nuevo juego</a>
</div>

{# <span id="editar-juego" class="clicable">&#9998</span> #} 


{% endblock %}