{% extends 'base.html.twig' %}

{% block title %}Mantenimiento{% endblock %}

{% block body %}

<div class="c-tablaJ">
<table id="tabla-juegos" class="table">
    <thead class="c-thead">
        <tr>
            <th scope="col">Nombre</th>
            <th scope="col" class="c-tablaJ__descripcion">Descripcion</th>
            <th scope="col">Jugadores Mínimos</th>
            <th scope="col">Jugadores Máximos</th>
            <th scope="col">Dimensiones</th>
            <th scope="col">Imagen</th>
            <th scope="col">⚙</th>
        </tr>
    </thead>
    <tbody>
    {% for juego in juegos %}
        <tr class="c-tabla-datos">
            <td scope="row">{{juego.nombre}}</td>
            <td class="c-tablaJ__descripcion">{{juego.acortaDescripcion}}</td>
            <td>{{juego.MinJugadores}}</td>
            <td>{{juego.MaxJugadores}}</td>
            <td>{{juego.Dimensiones}}</td>
            <td><img src="{{asset('img/' ~ juego.imagen)}}" id="c-tablaJ__img" class="c-tablaJ__img"></td>
            <td><a href="{{url('app_juego_editar',{'id':juego.id})}}">&#9998</a><a href="{{url('app_juego_eliminar',{'id':juego.id})}}">&#10006</a></td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<a href="{{url('app_juego_crear')}}" class="btn btn-primary mt-4 c-btn-juegos">Crear un nuevo juego</a>
</div>

{# <span id="editar-juego" class="clicable">&#9998</span> #} 


{% endblock %}