{% extends 'base.html.twig' %}

{% block title %}Hello EventoController!{% endblock %}

{% block body %}
<div class="c-tabla">
<table id="tabla-juegos" class="table c-tabla-item">
    <thead class="c-thead">
        <tr>
            <th scope="col">Nombre</th>
            <th scope="col" class="c-tabla__descripcion">Fecha</th>
            <th scope="col">Hora</th>
            <th scope="col">Aforo máximo</th>
            <th scope="col">Imagen</th>
            <th scope="col">⚙</th>
        </tr>
    </thead>
    <tbody>
    {% for evento in eventos %}
        <tr class="c-juegos-datos">
            <td class="tr-juegos" scope="row">{{evento.nombre}}</td>
            <td class="tr-juegos c-tabla__descripcion">{{evento.fechaString}}</td>
            <td class="tr-juegos">{{evento.tramo}}</td>
            <td class="tr-juegos">{{evento.NumAsistentesMax}}</td>
            <td class="tr-juegos"><img src="{{asset('img/' ~ evento.imagen)}}" id="c-tabla__img" class="c-tabla__img"></td>
            <td class="tr-juegos"><a href="{{url('app_evento_editar',{'id':evento.id})}}">&#9998</a><a href="{{url('app_juego_eliminar',{'id':evento.id})}}">&#10006</a></td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<a href="{{url('app_juego_crear')}}" class="btn btn-primary mt-4 c-btn-juegos">Crear un nuevo juego</a>
</div>
{% endblock %}
